body {
  font-size: 16px;

  font-family: 'Oxygen', sans-serif;
}

#header-nav {
	background-color:gray;
	border: 2px solid black;
}

.navbar-brand h1{

	color:black;
	font-size:1.5em;
	text-shadow: 1px 1px 1px #222;
	margin-top:0;
	margin-bottom:20px;
	line-height: .75;
}

.colored {

	background-color:#FFF;
	margin:0;
}


#nav-list a{

	color:black;
	margin:0;
	
	padding:0;
	text-align:center;
	border:1px solid black;
}

#main-contain {
	

}

#main-contain .container-fluid {
	background-color: #3CF012;
	padding: 0;
	margin:0;
	width: 100%;
	height: 1000px;
	border: 2px solid black;
}